/*
General
*/
*{
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100&display=swap');

body{
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    color: #686868;
}

h2{
    font-size: xx-large;
}


p, h3{
    font-size: x-large;
}

/* Navigation menu*/
.nav{
    display: inline-block;
    position: fixed;
}

.nav-ul{
    margin-left: 30px;
    height: 100vh;
    display:inline-flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    justify-content: center;
}

.nav-li{
    list-style: none;
}

.circle{
    display: inline-block;
    border: 2px #999CD1 solid;
    background-color: transparent;
    border-radius: 100%;
    width: 32px;
    height: 32px;
}

.circle:hover{
  transition: ease-in .2s;
  background-color: #999CD1;
}

.circle:focus-within{
  background-color: #999CD1;
}


.div-icon{
    pointer-events: none;
    width: 30px;
    color: #999CD1 !important;
}

.line{
    margin-top: -5px;
    margin-left: 1.8vh;
    border-left: 2px #999CD1 solid;
    height: 6vh;
}

a{
    text-decoration: none;
}


/* Main section */
.main{
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: #CEC9DB;
    color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-pic{
    height: 60vh;
    pointer-events: none;
}

.main-title{
    user-select: none;
    font-size: 8vh;
    display: inline-block;
    padding: 10px 50px 10px 50px;
    border: white 3px solid;
}

.main-p{
    user-select: none;
    font-size: xx-large
}

.custom-shape-divider-top-1649616430 {
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    margin-top: -10px;
}

.custom-shape-divider-top-1649616430 svg {
    display: block;
    width: calc(100% + 1.3px);
    height: 192px;
}

.custom-shape-divider-top-1649616430 .shape-fill {
    fill: #CEC9DB;
}

/* About me section */
.About-me{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.triangle-desc{
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-bottom: 40px solid transparent;
    border-left: 70px solid #618FB0;
}
.aboutmetxt-desc{
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutme-p{
    user-select: none;
    margin-left: 70px;
    width: 30vw;
    color: #999999;
}

.aboutme-btn{
    user-select: none;
    cursor: pointer;
    margin-top: 70px;
    margin-left: 70px;
    padding: 15px 50px 15px 50px;
    border-radius: 10px;
    background-color: #999CD1;
    color: white;
}

.aboutme-btn:hover{
    cursor: pointer;
    background-color: #73769E;
}

.aboutme-btn:active{
    background-color: #3C3D52;
}



/* Education section */
.Education{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-decorationEduc{
  pointer-events: none;
    display: block; 
    margin: 10px auto; 
    width: 5%;
}
.education-desc{
    width: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 100px;
}

.education-separator{
    margin: 60px;
    border-left: 4px #D3D3D3 dotted;
    height: 25vh;
}

.h3-education{
    color: #999CD1;
    margin-bottom: 10px;
}

.p-education{
    margin-top: 10px;
}

/* Skills Section*/
.Skills{
    background-color: #CEC9DB;
}
