@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100&display=swap');
/*
General
*/
*{
    margin: 0;}
body{
    font-family: 'Roboto', sans-serif;
    color: #686868;
}

/* Navigation menu*/
.navbar{
    width: 15vw;
    display: flex;
    text-align: center;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.circle{
    display: inline-block;
    border: 2px #999CD1 solid;
    background-color: transparent;
    border-radius: 100%;
    padding: .6rem .8rem .6rem .8rem;
}
.circle:hover{
  transition: ease-in .2s;
  background-color: #999CD1;
}
.circle:focus-within{
  background-color: #999CD1;
}
.line{
    border-right: 2px #999CD1 solid;
    height: 6vh;
}
a{
    text-decoration: none;
}

/* Main section */
#main{
    height: 100vh;
    background-color: #CEC9DB
}
.name-main{
    color: white;
    border: 2px white solid;
    padding: 15px 35px 15px 35px;
}
.text-main{
    color: white;
    font-style: italic;
}
.custom-shape-divider-top-1649616430 {
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    margin-top: -10px;
}
.custom-shape-divider-top-1649616430 svg {
    display: block;
    width: calc(100% + 1.3px);
    height: 192px;
}
.custom-shape-divider-top-1649616430 .shape-fill {
    fill: #CEC9DB;
}

/* About me section */
#About-me{
    height: 80vh;
}

.aboutme-btn{
    user-select: none;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    margin-top: 30px;
    background-color: #999CD1;
    color: white;
}

.aboutme-btn:hover{
    cursor: pointer;
    background-color: #73769E;
}

.aboutme-btn:active{
    background-color: #3C3D52;
}



/* Education section */
.Education{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-decorationEduc{
  pointer-events: none;
    display: block; 
    margin: 10px auto; 
    width: 5%;
}
.education-desc{
    width: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 100px;
}

.education-separator{
    margin: 60px;
    border-left: 4px #D3D3D3 dotted;
    height: 25vh;
}

.h3-education{
    color: #999CD1;
    margin-bottom: 10px;
}

.p-education{
    margin-top: 10px;
}

/* Skills Section*/
.Skills{
    background-color: #CEC9DB;
}
